@font-face {
    font-family: "Lato";
    src: url(LATO-REGULAR.TTF);
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
@media (prefers-color-scheme: dark) {
    body {background-color: black; color: white; font-family: "Lato", sans-serif;}
}
@media (prefers-color-scheme: light) {
    body {background-color: white; color: black; font-family: "Lato", sans-serif;}
}